body {
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: #272727;
}

.grey {
    background-color: grey;
}

.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}
